<title>BitNotify</title>
<div style="text-align: center;">
    <h1>BitNotify</h1>
    <img src="{{ STATIC_URL }}bitnotify.png">
    <p>
       <a href="https://github.com/ondrejsika/bitnotify-server">https://github.com/ondrejsika/bitnotify-server</a>
    </p>
    <p>
        donations: 1JN3LoHYkdThYFpLpcyVTw3GQDkMGGhMuD
    </p>
</div>